
.login-form{
    width: 50vh;
    color: var(--text);

    background: var(--bg-secondary);
    height: 100vh;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  .login-form h1{
    text-align: center;
    margin-bottom: 60px;
  }
  
  .txtb{
    border-bottom: 2px solid var(--border-color);
    position: relative;
    margin: 30px 0;
  }
  
  .txtb input{
    font-size: 15px;
    color: var(--text);
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
  }
  
  .txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
  }
  
  .txtb span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    transition: .5s;
  }
  
  .txtb input:focus + span::before{
    top: -5px;
  }
  .input input:focus + span::after{
    width: 100%;
  }
  
  .logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
    background-size: 200%;
    color: var(--text);
    outline: none;
    cursor: pointer;
    transition: .5s;
  }
  
  .logbtn:hover{
    background-position: right;
  }
  
  .bottom-text{
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
  }
  
  meter {
    /* Reset the default appearance */
    /* -webkit-appearance: none; */
       /* -moz-appearance: none; */
            /* appearance: none; */
  
    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;
  
    /* Applicable only to Firefox */
    /* background: none; */
    /* background-color: val(--border-color); */
  }
  
  /* meter::-webkit-meter-bar {
    background: none;
    background-color: val(--border-color);
  } */

  meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }