<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="login-form">
  <h1>Register</h1>

  <div class="txtb" id="email">
    <input type="text">
    <span data-placeholder="Email"></span>
  </div>

  <div class="txtb" id="password">
    <input type="password">
    <span data-placeholder="Password"></span>
  </div>
  <div class="txtb" id="confirm_password">
    <input type="password">
    <span data-placeholder="Confirm Password"></span>
  </div>

  <input type="submit" class="logbtn" value="Login">

  <div class="bottom-text">
    Already have an account? <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Login</a>
  </div>

</form>