<div class="container">

    <article data-icon="📊"><span aria-hidden="true"></span>
        <h3>Provides access to capital</h3>
        <p>
            Crowdfunding is a great alternative way to fund a venture, and it can be done without giving up equity or
            accumulating debt.
        </p>
    </article>
    <article data-icon="🙎"><span aria-hidden="true"></span>
        <h3>It’s a place to build traction</h3>
        <p>
            A strong, highly visible crowdfunding campaign can provide validation and social proof that’s vital in
            charting your path forward.
        </p>
    </article>
    <article data-icon="📍"><span aria-hidden="true"></span>
        <h3>Refine your idea</h3>
        <p>
            The basis of a startup is finding some important, unmet need that your customers have, and deciding to be
            the one to do something about it.
        </p>
    </article>
    <article data-icon="💬"><span aria-hidden="true"></span>
        <h3>Early adopters</h3>
        <p>
            The people that power your idea’s social proof are your early adopters and potential brand advocates.
        </p>
    </article>
    <article data-icon="⚙️"><span aria-hidden="true"></span>
        <h3>Marketing and media exposure.</h3>
        <p>
            Press coverage will create more eyes on your campaign and create lasting brand awareness for your startup.
        </p>
    </article>
</div>