<div class="container">

    <article data-icon="📊" ><span
            aria-hidden="true"></span>
        <h3>gingerbread</h3>
        <p>Cake muffin donut chocolate cake jelly sesame snaps wafer tart pie sweet roll muffin chupa chups.</p>
    </article>
    <article data-icon="🙎" ><span
            aria-hidden="true"></span>
        <h3>brownie</h3>
        <p>Cake cookie lemon drops muffin sugar plum. Liquorice pudding sugar plum topping macaroon pie chocolate.</p>
    </article>
    <article data-icon="📍" ><span
            aria-hidden="true"></span>
        <h3>ice cream</h3>
        <p>Cake muffin donut chocolate cake jelly sesame snaps wafer tart pie sweet roll muffin chupa chups.</p>
    </article>
    <article data-icon="💬" ><span
            aria-hidden="true"></span>
        <h3>lava cake</h3>
        <p>Cake cookie lemon drops muffin sugar plum. Liquorice pudding sugar plum topping macaroon pie chocolate.</p>
    </article>
    <article data-icon="⚙️" ><span
            aria-hidden="true"></span>
        <h3>macaroon</h3>
        <p>Cake muffin donut chocolate cake jelly sesame snaps wafer tart pie sweet roll muffin chupa chups.</p>
    </article>
</div>