<div class="card" [routerLink]="['/fundraisers/'+ project._id]" routerLinkActive="router-link-active" *ngIf="project">
    <img [src]="api + [project.thumbnail[0].path]" *ngIf="project.thumbnail[0]"
        style="width:100%">
    <progress [value]="project.progress"></progress>

    <div class="container">
        <h4><b>
                <div>{{project.raisedFunds | currency:'MAD' }}</div>
                <div class="border"></div>

                <div>{{project.fundGoal | currency:'MAD'}}</div>
            </b></h4>
        <p>{{ project.title }}</p>
    </div>
</div>