.login-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .button-flex-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }