<div class="login-form-flex">
    <mat-card>
      <mat-card-title>
        Login
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="User Name">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input type="password" matInput placeholder="Password"/>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-flex-container">
          <button mat-raised-button color="primary">Login</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>