<div class="contact">
    <h1>Contact Us</h1>
    <div class="border"></div>
    <div class="contact-info">

        <div class="card">
            <i class="icon">
                <mat-icon> email</mat-icon>
            </i>
            <div class="card-content">
                <h3>Email</h3>
                <span>contact@Sahem.com</span>
            </div>
        </div>

        <div class="card">
            <i class="icon">
                <mat-icon> phone</mat-icon>
            </i>
            <div class="card-content">
                <h3>Phone Number</h3>
                <span>+762474892</span>
            </div>
        </div>

        <div class="card">
            <i class="icon">
                <mat-icon> location_on</mat-icon>
            </i>
            <div class="card-content">
                <h3>Location</h3>
                <span>Morocco, Agadir</span>
            </div>
        </div>
    </div>
</div>