.contact h1 {
    text-align: center;
}

.border {
    width: 160px;
    height: 5px;
    background: var(--border-color);
    margin: 26px auto;
}

.contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    /* background: #00000054; */
    background: var(--bg-secondary);
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 32px;
    color: #ea8685;
    transition: .3s linear;
}

.card:hover .icon {
    transform: scale(4);
    opacity: 0;
}

.card-content h3, .card-content span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3 {
    top: 20px;
    text-transform: uppercase;
    color: #ea8685;
}

.card-content span {
    bottom: 20px;
    color: #fff;
    font-weight: 500;
}

.card:hover h3 {
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card:hover span {
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}

@media screen and (max-width:900px) {
    .card {
        flex: 100%;
        max-width: 500px;
    }
}