<div class="middle">
    <div class="counting-sec">
        <div class="inner-width">
            <div class="col">
                <i class="icon">
                    <mat-icon>people</mat-icon>
                </i>
                <div class="num">1246</div>
                Creators
            </div>

            <div class="col">
                <i class="icon">
                    <mat-icon> bar_chart</mat-icon>
                </i>
                <div class="num">19</div>
                Fundraisers
            </div>

            <div class="col">
                <i class="icon ">
                    <mat-icon> money</mat-icon>
                </i>
                <div class="num">21,756<mat-icon> attach_money</mat-icon>
                </div>
                Raised
            </div>

            <div class="col">
                <i class="far">
                    <mat-icon>hourglass_empty</mat-icon>
                </i>
                <div class="num">87</div>
                On Going
            </div>
        </div>
    </div>
</div>