<div class="middle">
    <div class="counting-sec">
        <div class="inner-width">
            <div class="col">
                <i class="far fa-smile-wink"></i>
                <div class="num">1246</div>
                Speakers
            </div>

            <div class="col">
                <i class="fas fa-briefcase"></i>
                <div class="num">19</div>
                Services
            </div>

            <div class="col">
                <i class="far fa-money-bill-alt"></i>
                <div class="num">687</div>
                Sells
            </div>

            <div class="col">
                <i class="far fa-object-group"></i>
                <div class="num">87</div>
                Templates
            </div>
        </div>
    </div>
</div>