.main {
    min-height: 100%;
}

@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }
}

/* Large screens */

@media only screen and (min-width: 600px) {
    main {
        margin-left: 5rem;
    }
}