.border {
    width: 160px;
    height: 2px;
    background: var(--border-color);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-secondary);
    font-size: 3rem;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    color: var(--text);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.card h4 {
    text-align: center;
}

.container {
    padding: 2px 16px;
}

.container p {
    font-size: 1rem;
    text-align: center;
}

/* progress bar */

progress {
    display: block;
    /* default: inline-block */
    width: 100%;
    border: 0 none;
    background: var(--bg-primary);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

progress::-moz-progress-bar {
    background: var(--bg-solar);
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

/* webkit */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
        height: 25px;
    }
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background: var(--bg-solar);
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}