<div class="footer">
  <div class="inner">

    <div class="row">
      <div class="col">
        <div class="note">
          <img src="assets/logo.svg" alt="">
          <!-- <span class="name"> About Us</span> -->
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
          </p>
        </div>
      </div>

      <div class="col">
        <div class="note">
          <div class="name">Payment Methods</div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
          </p>
        </div>
      </div>

      <div class="col">
        <div class="note">
          <div class="name">Full name</div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
          </p>
        </div>
      </div>
    </div>
  </div>
</div>