<div class="footer">
  <div class="inner">

    <div class="row">
      <div class="col">
        <div class="note">
          <img src="assets/logo.svg" alt="">
          <!-- <span class="name"> About Us</span> -->
          <p>
            Sahem is a secure service dedicated to collecting donations and launching online petitions all over the
            world. Thanks to its efficiency and ease of use, it allows associations to more easily collect donations by
            appealing to the generosity of Internet users; and it allows any person or organization to voice a
            collective and concrete citizen opinion.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="note">
          <div class="name">Payment Methods</div>
          <div class="credit-cards" style="text-align: center; width: 100%">
            <img height="40" src="https://shoplineimg.com/assets/footer/card_visa.png" />
            <img height="40" src="https://shoplineimg.com/assets/footer/card_master.png" />
            <img height="40" src="https://shoplineimg.com/assets/footer/card_paypal.png" />
          </div>
        </div>
      </div>

      <div class="col">
        <div class="note">
          <div class="name">Privacy </div>
          <p>
            © 2020 Sahem Inc. All Rights Reserved.
            Unauthorized duplication, in whole or in part, is strictly prohibited.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>