<div>
    <div>
        stepper
    </div>
    <div>
        detail
    </div>
    <div>
        donation summary
    </div>
    <div>
        <form (ngSubmit)="createStripeToken()" class="checkout">
            <label for="card-info">Card Info</label>
            <div id="form-field">
                <div id="card-info" #cardInfo></div>
                <button id="submit-button" type="submit">
                    Pay ${{_totalAmount}}
                </button>
                <mat-error id="card-errors" role="alert" *ngIf="cardError">
                    <mat-icon style="color: #f44336">cancel</mat-icon>
                    &nbsp;{{ cardError }}
                </mat-error>
            </div>
        </form>
    </div>
</div>