<div class="testimonials">
  <div class="inner">
    <h1>Testimonials</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="assets/p1.png" alt="">
          <div class="name">Henry Rosso</div>
          <p>
            “Fundraisers should use pride, not apology, when asking for a gift for a charity that is doing good work”
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="assets/p2.png" alt="">
          <div class="name">Jeff Brooks
          </div>
          <p>
            “If you need to raise funds from donors, you need to study them, respect them, and build everything you do
            around them”
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="assets/p3.png" alt="">
          <div class="name">Peter Dering</div>
          <p>
            “Do you Homework. Trying to throw together a campaign in a few days and thinking that you will shoot the moon is highly unlikely”
          </p>
        </div>
      </div>
    </div>
  </div>
</div>