.navbar {
    width: 100%;
    min-width: 500px;
    height: fit-content;
    position: absolute;
    top: 0;
}

.left-menu {
    width: 200px;
    height: 200px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: black;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}
.github-corner {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #265397;
    transition: all 0.15s ease;
}